@font-face {
	font-family: SofiaLight;
	src: url(../font/Sofia-Pro-Light.otf);
	font-weight: 400;
	font-style: normal;
	font-display: swap!important;
}
.chat_area::-webkit-scrollbar {
	width: 8px;
}

/* Track */
.chat_area::-webkit-scrollbar-track {
	background: #f1f1f1;
}
/* Handle */

.chat_area::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 8px;
}
/* Handle on hover */
.chat_area::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.main-section .panel-default{
	box-shadow:none;
}
.main-section .panel-footer{
	border-top:1px solid #e8eef3;
}

#sent-message{
border-bottom:1px solid #e8eef3;	
}

.btn-user {
margin : 10px;
}
.online-user {
position : absolute;
top : 2px;
margin-left : 10px;
border-radius : 50%;
height : 20px;
width : 20px;
}
.online-user .fa-circle {
font-size : 18px;
}
.right-menu {
position : fixed;
top : 0;
right : 0;
background : #44577e;
padding : 10px 25px 2px 20px;
z-index : 100;
border-radius : 36px;
}
.right-menu ul > li > a {
color : #fff;
margin-left : 15px;
font-family: SofiaLight;
letter-spacing : normal;
text-decoration : none;
font-size : 16px;
}
.right-menu ul > li > a:hover {
color : #fff;
text-decoration : none;
text-decoration : none;
font-family: SofiaLight;
letter-spacing : normal;
font-size : 16px;
}
.caption {
font-family: SofiaLight;
font-size : 18px;
font-weight : normal;
color : #fff;
margin-top : 10px;
letter-spacing : 2px;
}
.image-size {
width : 100px;
height : 100px;
}
.close-chat {
position : absolute;
top : 0;
right : 0;
}
.close-chat .btn-link {
color : #fff;
margin-top : 15px;
}
.main-section .btn-link{
	margin-top : 10px;
}
.main-section {
/* width : 400px; */
padding-top:20px;
}
.main-section label {
margin-top : 15px;
color:#878787;
font-family: SofiaLight;
font-size:14px;
cursor:pointer!important;
}
.btn-bs-file {
position : relative;
cursor : pointer !important ;
}
.btn-bs-file input[type="file"] {
position : absolute;
opacity : 0;
width : 0;
height : 0;
outline : none;
cursor : pointer !important ;
}
.main-section .panel-body {
	
height : 480px;
overflow-y : auto;
padding-top:30px;
padding:0px;
}
 /* @media only screen and (min-device-width: 998px) and (max-device-width: 1350px) { */
/* .main-section .panel-body */
/* {	height : 580px; */
/* overflow-y : auto; */
/* padding-top:30px; */
/* padding:0px;  */
/* } */
 /* } */
.main-section .panel-footer .col-xs-12{
	padding:0px;
}
.main-section .panel{
	border:0px solid transparent;
	padding:0px;
	border-radius:0px;
}
.chat-image-left img {
height : 40px;
width : 40px;
}
.chat-image-right {
margin-bottom : 50px;
margin-left : 10px;
}
.chat-image-right img {
height : 40px;
width : 40px;
float : right;
}
textarea {
resize : none;
margin-top : 10px;
color : #424c57 !important ;
font-family: SofiaLight;
overflow : hidden;
}
textarea.form-control {
border : none;
box-shadow : none;
}
textarea.form-control:focus {
border : none;
box-shadow : none;
}
textarea::-webkit-input-placeholder {
color : #828282 !important ;
font-family: SofiaLight;
}
textarea:-moz-placeholder {
color : #828282 !important ;
font-family: SofiaLight;
}
textarea::-moz-placeholder {
color : #828282 !important ;
font-family: SofiaLight;
}
textarea:-ms-input-placeholder {
color : #828282 !important ;
font-family: SofiaLight;
}
.panel-heading {
height : 70px;
background-color : #4a79e2 !important ;
}
.panel-footer {
padding : 0;
background-color : #fff !important ;
height : 65px;
}
.panel-footer input {
border : none;
box-shadow : none;
color : #424c57;
font-size : 16px;
font-family: SofiaLight;
}
.chat-user-name {
font-family: SofiaLight;
color : #fff;
font-size : 16px;
}
.status {
font-family: SofiaLight;
color : #fff;
font-size : 16px;
margin-top : -5px;
}
.fa-circle {
color : #35e85d;
font-size : 10px;
}
.consult li img {
height : 45px;
width : 45px;
}
.media-left img {
height : 45px;
width : 45px;
}
.chat-section-left {
margin-top : 10px;
}
.chat-section-left:before {
content : "";
display : table;
clear : both;
}
.chat-section-left p {
margin-left : 50px;
margin-bottom : 30px;
}
.chat_box .chat_message_wrapper ul.chat_message > li + li {
margin-top : 4px;
}
.popup-box-on {
display : block !important ;
}
a:focus {
outline : none;
outline-offset : 0;
}
.chat_message p > a {
color : #ff3366;
}
.chat_messageli > p > a:hover {
color : #ff3366;
}
.chat_box {
padding : 16px;
}
.chat_box .chat_message_wrapper::after {
clear : both;
}
.chat_box .chat_message_wrapper::after, .chat_box .chat_message_wrapper::before {
content : " ";
display : table;
}
.chat_box .chat_message_wrapper .chat_user_avatar {
float : left;
}
.chat_user_avatar img {
width : 50px;
}
.chat_box .chat_message_wrapper {
margin-bottom : 32px;
}
.md-user-image {
border-radius : 50%;
width : 34px;
}
.chat_box .chat_message_wrapper ul.chat_message, .chat_box .chat_message_wrapper ul.chat_message > li {
list-style : none outside none;
padding : 0;
}
.chat_box .chat_message_wrapper ul.chat_message {
float : left;
margin : 0 0 0 20px;
max-width : 77%;
}
.chat_box.chat_box_colors_a .chat_message_wrapper ul.chat_message > li {
background-color : transparent;
padding : 8px 14px;
font-family: SofiaLight;
line-height : 1.5em;
color : #000;
font-size : 16px;
border:1px solid #e8eef3;
}
.chat_message_right > .chat_message > li {
background-color : transparent;
padding : 8px 14px;
font-family: SofiaLight;
line-height : 1.5em;
color : #000;
font-size : 16px;
border:1px solid #e8eef3;
}
.chat_message_right .chat_message_time {
color : #000 !important ;
display : block;
font-size : 12px;
padding-top : 2px;
}
.chat_box .chat_message_wrapper ul.chat_message > li {
background : none 0 0 repeat scroll #ededed;
border-radius : 4px;
clear : both;
color : #212121;
display : block;
float : left;
font-size : 13px;
padding : 8px 16px;
position : relative;
word-break : break-all;
}
.chat_box .chat_message_wrapper ul.chat_message, .chat_box .chat_message_wrapper ul.chat_message > li {
list-style : none outside none;
padding : 0;
margin-top : 20px;
}
.chat_box .chat_message_wrapper ul.chat_message > li {
margin : 0;
margin-bottom : 10px;
}
.chat_box .chat_message_wrapper ul.chat_message > li p {
margin : 0;
}
.chat_message_time {
color : #424c57;
display : block;
font-size : 12px;
padding-top : 2px;
}
.chat_box .chat_message_wrapper.chat_message_right .chat_user_avatar {
float : right;
}
.chat_box .chat_message_wrapper.chat_message_right ul.chat_message {
float : right;
margin-left : 0 !important ;
margin-right : 18px !important ;
}

.chat_box .chat_message_wrapper ul.chat_message > li {
background : none 0 0 repeat scroll #ededed;
border-radius : 12px;
clear : both;
color : #212121;
display : block;
float : left;
font-size : 13px;
padding : 8px 16px;
position : relative;
}

